.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  margin: 5px;
  text-decoration: none;
  color: rgb(32, 32, 32);
  font-size: 20px;
  padding: 10px;
}

nav a:hover {
  background: rgb(32, 32, 32);
  color: #FFF;
}